<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <rule name="KWCompare API Proxy DEV" stopProcessing="true">
          <match url="^api-dev/(.+)$" ignoreCase="true" />
          <action type="Rewrite" url="https://itf-webapache-dev.co.ihc.com:8443/KWCompare/{R:1}" appendQueryString="true" />
        </rule>
        <rule name="KWCompare API Proxy QA" stopProcessing="true">
          <match url="^api-qa/(.+)$" ignoreCase="true" />
          <action type="Rewrite" url="https://itf-webapache-qa.co.ihc.com:8443/KWCompare/{R:1}" appendQueryString="true" />
        </rule>
        <rule name="KWCompare API Proxy UAT" stopProcessing="true">
          <match url="^api-uat/(.+)$" ignoreCase="true" />
          <action type="Rewrite" url="https://itf-webapache-test.co.ihc.com:8443/KWCompare/{R:1}" appendQueryString="true" />
        </rule>
        <rule name="KWCompare API Proxy" stopProcessing="true">
          <match url="^api/(.+)$" ignoreCase="true" />
          <action type="Rewrite" url="https://itf-webapache-dev.co.ihc.com:8443/KWCompare/{R:1}" appendQueryString="true" />
        </rule>
        <rule name="Static Files" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>
        <rule name="KWCompare SPA Fallback" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{URL}" pattern="\.[^/]+$" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
